div.primary{
    background-color:#150F40;
}
li.primary{
    background-color:#150F40;
}
button.secondary{
    background-color:#BF8B4B;
    button-color:#BF8B4B;
}
input.form-light{
    border-color: white;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
button.light{
    background-color:#FFFFFF;
    border-color: white;
}
a.secondary{
    color: #BF8B4B;
    border-color: #BF8B4B;
}
a.secondary:hover{
    background-color:#BF8B4B;
    border-color: #BF8B4B;
}
p.secondary{
    color:#BF8B4B;
}
span.input-group-text{
    background-color: white;
    border-color: transparent;
}
.body{
    background-color: #0B0726;
    color: white;
    font-family: 'Lato', sans-serif;
}
.navbar{
    background-color:transparent;
}
.fixed-top.scrolled {
    background-color: #150F40 !important;
    transition: background-color 200ms linear;
    box-shadow: 0px 10px 40px 15px rgba(0,0,0,0.50);
    -webkit-box-shadow: 0px 10px 40px 15px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 10px 40px 15px rgba(0,0,0,0.50);
}
.secondary{
    background-color:#BF8B4B;
}
h5.title{
    font-family: 'Fredoka One', cursive;
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
content{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
div.content{
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}
.modal{
    background-color: rgba(11,7,38,0.70);
}
.my-mt{
    padding-top: 8rem;
    padding-bottom: 3rem;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}